$color-primary: #212121;
$color-second: #2196f3;
$color-contacts: #757575;
$color-hero: #2f303a;
$color-hero-name: #ffffff;
$color-button: #188ce8;
$color-team: #f5f4fa;
$color-contacts-foter: rgba(255, 255, 255, 0.6);
$color-social-icons: #afb1b8; 
$color-icons-footer: rgba(255, 255, 255, 0.1);
$color-icons: #afb1b8;
$color-background: rgba(47, 48, 58, 0.8);
$color-bckground: rgba(33, 150, 243, 0.9);

$font-primary: 'Roboto' , sans-serif;
$font-secondary: 'Raleway' , sans-serif;

$margin: 0;
$padding: 0;


ul,
.footer__adress,
.footer__social,
.footer-social__title,
.portfolio-box__paragraph,
.overlay__paragraph,
.form__input {
    margin: $margin;
}
.visually-hidden,
.quality__box,
.footer__adress,
.footer__social {
    padding: $padding;
}
body {
    color: $color-primary;
    font-family: $font-primary;
    margin: $margin;
}

.hero__title,
.form__button {
    font-family: $font-primary;
}
.nav__logo,
.footer__logo {
    font-family: $font-secondary;
}


.nav__logo-word,
.portfolio-box__name,
.form__control,
.team__name {
    color: $color-primary;
}

.team__item {
    background-color: $color-hero-name;
}
.modal,
.modal__close {
    background-color: $color-hero-name;
}

.clients__link {
    color: $color-icons;
    
    &:hover,
    &:focus {
        border-color: $color-second;
        color: $color-second;
    }
}


.form-check__icon {
    background-color: $color-second;
    fill: $color-hero-name;
}

.nav__link {
    color: $color-primary;
    &:hover,
    &:focus {
        color: $color-second;
    }
    &::after {
        background-color: $color-second;
    }
}

.nav-contacts__link {
    color: $color-contacts;
    &:hover,
    &:focus {
        color: $color-second;
    }
}

.social-list__link {
    color: $color-social-icons;
   
    &:focus,
    &:hover {
        color: $color-hero-name;
        background-color: $color-second;
    }
}

.nav-contacts__icon {

    &:hover,
    &:focus {
        color: $color-second;
    }
}

.footer__contacts {
    color: $color-contacts-foter;
    &:hover,
    &:focus {
        color: $color-second;
    }
}

.nav__logo,
.nav__link.current,
.footer__logo {
    color: $color-second;
}

.form__icons {
    .form__input:focus + & {
        color: $color-second;
    }
}
.paragraph,
.portfolio-box__paragraph {
    color: $color-contacts;
}

.hero.section,
.footer,
.send__input {
    background-color: $color-hero;
}

.hero__title,
.work__text,
.footer,
.word-logo,
.send__input,
.send__button,
.form__button,
.overlay__paragraph,
.hero__title {
    color: $color-hero-name;
}

.footer__link {
    color: $color-hero-name;
    background-color: $color-icons-footer;
    &:hover,
    &:focus {
        color: $color-hero-name;
        background-color: $color-second;
    }
}

.send__button,
.form__button  {
    background-color: $color-second;
}
.hero__button {
    font-family: $font-primary;
    background-color: $color-second;
    color: $color-hero-name;
    &:hover,
    &:focus {
        background-color: $color-button;
    }
}

.quality__box,
.section.team {
    background-color: $color-team;
}
.portfolio__buttons {
    font-family: $font-primary;
    background-color: $color-team;
    &:hover,
    &:focus {
        background-color: $color-second;
        color: $color-hero-name;
    }
}


.footer__link {
    background-color: $color-icons-footer;
}


.work__box {
    background-color: $color-background;
}

.overlay {
    background-color: $color-bckground;
}